[Unit]
Description=tasmotaToInflux
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/tasmotatoinflux/tasmotatoinflux
ExecStart=/home/tasmotatoinflux/tasmotatoinflux/.venv/bin/python3 -m tasmotatoinflux
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/tasmotatoinflux/tasmotatoinflux/env.python
User=tasmotatoinflux
Group=tasmotatoinflux

SyslogIdentifier=tasmotatoinflux
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
